* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Common */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* BOTTONI */
.btn{
    text-decoration: none;
    background-color: #0061ff;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    line-height: normal;
}

.btn-inizia {
    margin-left: 20px;
}

.prova-gratis {
    text-align: center;
    margin: 30px 0 20px;
}

/* tipography */



/* header */

.container-header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 30;
}

.header-col-left, .header-col-right {
    width: 35%;
    padding: 0px 15px;
    line-height: 60px;
}

nav, .logo-drop, li{
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #000;
}

nav li{
    margin: 0px 10px;
}

.logo-drop {
    margin-right: 20px;
    vertical-align: text-bottom;
}

.header-col-left {
    float: left;
}

.header-col-right {
    float: right;
}


/* first-section */

.hero-section {
    background-color: #b4d0e7;
    width: 100%;
    margin-top: 60px;
}

.content-hero {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 71px; 
    margin-bottom: 30px;
}

.hero-row {
    position: relative;
    bottom: -100px;
}

.hero-col-left {
    width: 30%;
    float: left;
}

.hero-col-right {
    width: 70%;
    float: right;
}

.hero-col-right img {
    max-width: 100%;
}

.text-hero, .btn-prova-gratuita {
    margin-bottom: 20px;
}

.arrow-hero {
    font-size: 50px;
    margin-top: 30px;
}

/* section select Plan */
.row-70 {
    width: 70%;
    margin: 200px auto 0;
    border: solid black;
    position: relative;
}

.col-plan-left, .col-plan-center, .col-plan-right {
    float: left;
    border: 1px solid #d0d0d3;
    width: calc((100% - 10%)/3);
    /* provvisorio */
    min-height: 900px; 
}

.col-plan-center {
    margin: 0 5%;
}


.plan-row {
    margin-top: 20px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.radio {
    margin-left: 10px;
    margin-bottom: 30px;
}

.icon-up-col {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
}
i {
    padding-right: 5px;
}

.cont-col {
    padding: 0 20px;
}

.check-li li::before {
    content: "\f00c";
    font-family: "font Awesome 5 free";
    display: inline-block;
    font-weight: 900;
    padding-right: 5px;
    color: #0061ff;
}
 
.check-li li {
    margin-bottom: 20px;
}

.line-plan {
    width: 20%;
    margin: 10px 0;
    border-bottom: 2px solid #d0d0d3 ;
}

.title-col-plan {
    font-size: 30px;
    margin: 30px 0 20px;
}

.price-plan {
    font-weight: 800;
    margin: 20px 0;
}

.durata {
    color: #637381;
    margin-bottom: 40px;
}

.cont-col i {
    margin-bottom: 15px;
    /* font-size: 15px; */
}

.line-plan {
    margin: 20px 0
}

.recap-plan {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 700;
}

