* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Common */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* BOTTONI */
.btn{
    text-decoration: none;
    background-color: #0061ff;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    line-height: normal;
}

.btn-inizia {
    margin-left: 20px;
}

/* header */

.container-header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 30;
}

.header-col-left, .header-col-right {
    width: 35%;
    padding: 0px 15px;
    line-height: 60px;
}

nav, .logo-drop, li{
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #000;
}

nav li{
    margin: 0px 10px;
}

.logo-drop {
    margin-right: 20px;
    vertical-align: text-bottom;
}

.header-col-left {
    float: left;
}

.header-col-right {
    float: right;
}


/* first-section */

.hero-section {
    background-color: #b4d0e7;
    width: 100%;
    margin-top: 60px;
}

.content-hero {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 71px; 
    margin-bottom: 30px;
}

.hero-row {
    position: relative;
    bottom: -100px;
}

.hero-col-left {
    width: 30%;
    float: left;
}

.hero-col-right {
    width: 70%;
    float: right;
}

.hero-col-right img {
    max-width: 100%;
}

.text-hero, .btn-prova-gratuita {
    margin-bottom: 20px;
}

.arrow-hero {
    font-size: 50px;
    margin-top: 30px;
}